h1,
h2,
h3,
h4,
h5,
h6,
nav a,
.ui.header {
  font-family: 'Playfair Display', serif;

}

p {
  font-family: 'Roboto', sans-serif;
}

.banner {
  float: left;
  width: 100%;
  height: 500px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 18rem;
  text-align: center;
  padding-top: 70px;
}

.banner * {
  color: #fff;
  z-index: 1;
}

h1 {
  font-size: 3rem;
  /* margin-bottom: 25px; */
}

p {
  color: #999;
}

.banner p {
  font-size: 1.2rem;
  font-weight: lighter;
  letter-spacing: .4px;
}

.banner::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  top: 0;

}

.banner div a {
  background: #fff;
  margin: 0 15px;
  width: 40px;
  font-size: 25px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
}

.profilePic {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  margin-top: -15px;
}

section {
  float: left;
  width: 100%;
  padding: 70px 0;
}

.banner div a i {
  color: #000;
  margin: 0;
}

header {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1;
  /* padding: 15px 0; */
  border: 1px solid #636363;
}

header nav a {
  color: #fff !important;
}

.ui.text.menu .item {
  padding: .35714286em 1em;
}

.button {
  text-transform: uppercase !important;
  font-weight: lighter !important;
  letter-spacing: 1px;
  border-radius: 0 !important;
  font-size: 12px !important;
  padding: 15px !important;
}

.skills {
  float: left;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  nav .right.menu {
    display: none !important;
  }

  .about {
    text-align: center;
  }

  .banner {
    padding-left: 0;
    padding-right: 0;
  }

  header nav .ui.text.menu a {
    text-align: center;
    display: block !important;
    float: left;
    width: 100%;
  }
}

.blackBox {
  background-color: #000;
  color: #fff;
  float: left;
  width: 100%;
  height: 110px;
  padding: 15px;
  border-radius: 4px;
  line-height: 5;
}

footer {
  background-color: #000;
  color: #fff;
  float: left;
  width: 100%;
  text-align: center;
  padding: 25px;
  position: relative;
}

footer a i {
  width: 0px;
  height: 0px;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid #000;
  color: #fff;
  font-size: 25px !important;
}

footer a {
  position: relative;
  top: -54px;
}

i.icon.angle.double.up:before {
  content: "\f102";
  left: -7px;
  position: relative;
  top: 13px;
}

footer p {
  margin-top: -20px;
}